html, body {
  font-family: 'Inconsolata';
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}
::selection {
  background: #C43A31;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

hr {
  margin: 60 0 30 0;
}
section {
  height: 100%;
  width: 100%;
  padding: 60px;
}

.sub-header {
  opacity: .9;
  font-size: 1.5em;
}



.menu {
  text-align: right;
  float: right;
  font-size: 1.1em;
}

.landing {
  background-color: black;
  color: white;
}

.about {
  background-color: red;
  color: white;
}
